[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git://github.com/vim-scripts/supertab.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/bufftabline"]
	path = vim/bundle/bufftabline
	url = git://github.com/ap/vim-buftabline.git
[submodule "vim/bundle/haskell_syntax"]
	path = vim/bundle/haskell_syntax
	url = https://github.com/urso/haskell_syntax.vim.git
